.main {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.card {
    width: 14rem;
    border-radius: 1.25rem;
}

.card_img {
    border-radius: 1.25rem;
}

.card_subtitle {
    opacity: 80%;
    font-size: .85rem;
}

.card_body {
    opacity: 60%;
    font-size: .75rem;
    padding: 1rem 0;
}

.btn {
    background: #1D37C2 !important;
    color: #fff !important;
}

.btn:active,
.btn:hover,
.btn:focus {
    color: #fff !important;
}

@media (max-width: 767px) {
    .card {
        width: 18rem;
    }
}