/* TODO: add scroll top button */
html,
body {
  scroll-behavior: smooth;
  background-color: #DFEBFC !important;
  color: #1D37C2 !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button#scroll {
  display: none;
  display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;    
    z-index: 1250;
}

.toast-container {
  z-index: 1020;
}

.form-control,
.btn,
a {
  transition: none !important
}

.btn {
  background-color: #fff !important;
  color: #1D37C2 !important;
  border-color: #1D37C2 !important;
}

.form-control:focus,
.btn:focus,
.btn:active,
.btn:hover {
  color: #1D37C2 !important;
  outline:0px !important; 
  box-shadow: none !important;
}

a:focus {
  outline:0px !important; 
  box-shadow: none !important;
}

.dropdown-item:focus,
.dropdown-item.active, .dropdown-item:active {
  background-color: #1D37C2 !important;
  color: #fff !important;
}

.pagination {
  margin-bottom: 2.5rem;
  justify-content: center;
}

.page-link:not(:disabled) {
  color: #1D37C2;
}

.form-check-input:checked,
.page-item.active .page-link {
  background-color: #1D37C2 !important;
  border-color: #1D37C2 !important;
  color: #fff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button#btn_gender {
  padding: 0.1rem 1rem !important;
}

.bg-warning {
  margin-bottom: 1rem !important;
}