.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.about {
  flex-direction: row-reverse;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description,
.input_grp,
.subscribe_btn {
  text-align: left;
  margin-left: 5rem;
}

.input_grp {
  width: 80%;
}

.subscribe_btn {
  text-align: center;
  border: 1px solid #1D37C2 !important;
  background-color: #fff !important;
  color: #1D37C2  !important;
  border-radius: 5px !important;
  margin-top: 1rem;
}

.subscribe_btn:hover,
.subscribe_btn:active {
  background: #1D37C2 !important;
  color: #fff !important;
}

.input_grp span {
  background-color: #1D37C2 !important;
  color: #fff !important;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  opacity: 80%;
  margin-bottom: 1rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 991px) {
  .title, .description, .input_grp, .subscribe_btn {
    margin-left: 0rem;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
